<h2>Redefinir senha</h2>

<%= form_with model: @user, url: reset_password_path(params[:token]), method: :patch do |form| %>
  <% if @user.errors.any? %>
    <div class="error-messages">
      <h3><%= pluralize(@user.errors.count, "erro") %> impediu a redefinição da senha:</h3>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :token, params[:token] %>

  <div class="field">
    <%= form.label :password, "Nova senha" %>
    <%= form.password_field :password, required: true, autofocus: true %>
    <small>Mínimo de 6 caracteres</small>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "Confirme a nova senha" %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Atualizar senha" %>
  </div>
<% end %>

<div class="links">
  <%= link_to "Voltar para login", login_path %>
</div> 